<!DOCTYPE html>

<html lang="en">
    <%- include('head'), { heading } %>

    <body>
        <h1 class="title"><%= heading %></h1>
        <p>This is small todo example</p>

        <%- include('menu') %>
    </body>
</html>
