<ul class="menu">
    <li class="menu-item">
        <a href="/" class="menu-link">Home</a>
    </li>
    <li class="menu-item">
        <a href="/todo" class="menu-link">Todo Example</a>
    </li>
    <li class="menu-item">
        <a href="/about" class="menu-link">About</a>
    </li>
</ul>
